<% comments.each do |comment| %>
  <p><%= comment.comment %></p>
  <h5>Posted by <%= comment.commenter.username %></h5>
  <% if comment.commenter == current_user || comment.goal.user == current_user %>
    <form action="<%= goal_comment_url(comment) %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= auth_token %>
      <input type="submit" value="Delete Comment" >
    </form>
  <% end %>
<% end %>
